# .gitignore for C# .NET projects
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vscode/
*.DS_Store
*.swp
*.tmp
*.log
*.db
*.pid
*.ncb
*.sdf
*.cache
*.pdb
*.mdb
*.opendb
*.VC.db
*.VC.VC.opendb
*.dotCover
*.orig
*.rej
*.bak
*.backup
*.old
*.vspscc
*.vssscc
*.scc
*.psess
*.vsp
*.vspx
*.vsix
*.docstates
*.userprefs
*.sublime-workspace
*.sublime-project
*.idea/
*.Rproj.user/
*.pyc
*.pyo
*.pyd
__pycache__/
